.header{
    background-color: rgb(219, 136, 136);
    color: white;
    grid-area: h;
    
}
.footer{
    background-color: rgb(204, 219, 136);
    color: rgb(19, 14, 14);
    grid-area: f;
}
.main{
    background-color: rgb(136, 209, 219);
    color: rgb(212, 71, 71);
    grid-area: m;
}
.nav{
    background-color: rgb(219, 136, 182);
    color: white;
    grid-area: n;
}
.site-container{
    height: 100%;
   
    display: grid;
    
    
    
    grid-template-areas: 
    "h h h h h h h h"
    "m m m m m m m m"
    "n n n n n n n n"
    "f f f f f f f f";
}